# @see http://git-scm.com/docs/gitignore
#--------------------------------------------------------------------

# ignore all files with a leading dot...
.*

# ...except from these:
!.gitignore
!.git
!.babelrc
!.editorconfig
!.eslintrc.yml
!.nvmrc

# ignore file in these paths
node_modules/
docs/
src/jsdoc/templates/docstrap/
dist/
