# @see http://git-scm.com/docs/gitignore
#--------------------------------------------------------------------

# ignore all files with a leading dot
.*
!.gitignore
!.git

# ignore file in these paths
node_modules/
docs/
src/jsdoc/templates/docstrap/
dist/
bundle/